01. Copying the Painting Style/models/
01. Copying the Painting Style/videos/

02. Face Mask Detector/models/
02. Face Mask Detector/videos/

03. Face Landmark Detection/models/
03. Face Landmark Detection/videos/

04. Image Colorization/models/
04. Image Colorization/videos/

05. Implementing Super Resolution/models/
05. Implementing Super Resolution/videos/

*.mp4
*.mov